<section class="nav_bar">
  <nav class="navbar fixed-top navbar-expand-md bg-dark" id="mainNav">
    <div class="container">
      <a class="px-3 navbar-brand text-white cursorp" (click)="scrollToTarget('.landingPage')"><img
          src="../assets/images/pg_Intsyslogo.png" width="135px" class="h-100" alt=""></a>
      <button class="navbar-toggler" id="menu-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon h-100">
          <i class="fa-solid fa-bars"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-3 px-md-0 px-lg-0">
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.landingPage')" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.aboutus')">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.services')">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.training')">Training</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.recruit')">Recruitment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.products')">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursorp" (click)="scrollToTarget('.contact')">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section id="intro" class="landingPage">
  <div class="intro-container">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"><span class="dot"></span></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"><span
            class="dot"></span></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"><span
            class="dot"></span></button>
      </div>
      <div class="carousel-inner" data-interval="100">
        <div class="carousel-item active">
          <img src="../assets/images/bg13.webp" class="imgProp d-block w-100 h-100 intro-img" alt="">
          <div class="carousel-caption d-md-block">
            <h5 class="title">We Believe in Growth<br /> at Every Steps</h5>
            <p>
              Quality never Goes out of style in the walks
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/images/bg26.webp" class="imgProp d-block w-100 h-100 intro-img" alt="">
          <div class="carousel-caption d-md-block">
            <h5 class="title">The Fastest Way to<br /> Achieve Success</h5>
            <p>
              We believe in turning clients in to family
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/images/bg44.webp" class="imgProp d-block w-100 h-100 intro-img" alt="">
          <div class="carousel-caption d-md-block">
            <h5 class="title">The Answer to All Your <br />Problem is With Us</h5>
            <p>
              True service is our magic formula
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="aboutus" class="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
        <div class="wrap">
          <h5 class="text-pr">
            About Us
          </h5>
          <h1 class="aboutTitle">
            Create, <br />Enhance and Sustain
          </h1>
          <p class="mt-5">
            <!-- PG INTSYS is a digital transformation solutions, recruitment and training providing company. As a technology
            solution
            provider. We provide comprehensive state of solutions comprising of infrastructure consultancy, on/offsite
            services,
            custom software and web development , software and web application testing, and enterprise architecture
            consulting. -->
            PG INTSYS is digital transformation solutions providing company. As a technology solution provider, we offer
            comprehensive state of solutions specialising in Artificial Intelligence, Internet of Things (IOT), IOT
            enabled sensors & devices, Robotics/Drones solutions development and also comprising in custom mobile and
            web development, application testing, enterprise architecture consulting and on/offsite services.
          </p>
          <p>They also into recruitment/placement and training for MNC and SMEs. </p>

        </div>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-anchor-placement="top-center">
        <img src="../assets/images/bg2.webp" class="w-100 h-90 imgProp" alt="">
      </div>
    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <h3 class="text-center secTitle mb-5">
      We Are Reliable Consultant In House
    </h3>
    <div class="row">
      <div class="col-md-4" data-aos="fade-right">
        <img src="../assets/images/bg23.webp" class="h-100 w-100 imgProp" alt="person working on laptop">
      </div>
      <div class="col-md-8" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="p-3 card h-100">
              <div class="card-body">
                <div class="iconWrapper p-2">
                  <i class="fa-solid fa-smog"></i>
                </div>
                <h5 class="card-title">Technical Solution</h5>
                <p class="card-text">We provide high end digital transformation and technical solutions for all sort of
                  business problems and help to improve your business to next level.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 card h-100">
              <div class="card-body">
                <div class="iconWrapper p-2">
                  <i class="fa-solid fa-user-graduate"></i>
                </div>
                <h5 class="card-title">Trainings</h5>
                <p class="card-text">We are certified HRDCorp training provider company and offer training in latest
                  technical and non-technical areas. We are supported by IEEE SMC (System Man & Cybernetics) Malaysia
                  chapter.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 card h-100">
              <div class="card-body">
                <div class="iconWrapper p-2">
                  <i class="fa-solid fa-users-line"></i>
                </div>
                <h5 class="card-title">Recruitment & Placements</h5>
                <p class="card-text">we deliver professional and proficient hiring solutions to meet every client’s
                  requirements at the right time & to be a bridge between aspiring talent and client.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="p-3 card h-100">
              <div class="card-body">
                <div class="iconWrapper p-2">
                  <i class="fa-brands fa-codepen"></i>
                </div>
                <h5 class="card-title">Products</h5>
                <p class="card-text">We also do provide international standard products to support the client need,
                  which includes software and hardware.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vision" id="vision">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6">
        <div class="row" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
          <div class="col-md-12">
            <div class="mb-5">
              <h3>
                <b>Our Mission</b>
              </h3>
              <p>
                Our team is dedicated to deliver innovative & quality systems for society and industries to solve their
                technological challenges to make it simpler by effective and efficient solutions for various sectors.
              </p>
              <p>Our team is dedicated to deliver high standard syllabus with quality expert to deliver the training to
                improve the knowledge to meet the market/industry demand.</p>
              <p>Our team is also dedicated in providing consultancy to find the gap and provide highly skilled and
                talented candidates to meet client’s expectations.</p>
            </div>
          </div>
          <div class="col-md-12">
            <img src="../assets/images/bg3.webp" class=" w-100 imgProp" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
          <div class="col-md-12">
            <img src="../assets/images/bg4.webp" class=" w-100 imgProp" alt="">
          </div>
          <div class="col-md-12">
            <div class="mb-5">
              <h3 class="mt-4">
                <b>Our Vision</b>
              </h3>
              <p>
                To become the global leader in providing the innovative solutions and support the growth of business.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="services">
  <div class="container">
    <h2 class="secTitle text-center mb-3">Our Services</h2>
    <p class="text-center pb-3 mb-5 gray-100">We provide end to end digital transformation solutions (considering ESG)
      for various sectors such as Manufacturing(IR4.0), agriculture, finance, healthcare, ERP, retail and education.</p>
    <div class="row row-cols-1 row-cols-md-3 g-5">
      <div class="col" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100">
          <div class="iconBox">
            <div class="iconRound">
              <h4>1</h4>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Mobile & Web Development</h5>
            <p class="card-text">Native & Hybrid Application development</p>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100">
          <div class="iconBox">
            <div class="iconRound">
              <h4>2</h4>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">AI & Data Science</h5>
            <p class="card-text">Data mining, machine learning and big data</p>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100">
          <div class="iconBox">
            <div class="iconRound">
              <h4>3</h4>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">IOT</h5>
            <p class="card-text">Embedded with sensors and exchange data</p>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <div class="iconBox">
            <div class="iconRound">
              <h4>4</h4>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Cloud Computing</h5>
            <p class="card-text">Data centers available to many users over the Internet.</p>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <div class="iconBox">
            <div class="iconRound">
              <h4>5</h4>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Cybersecurity & Block chain</h5>
            <p class="card-text">High level security for any software over internet</p>
          </div>
        </div>
      </div>
      <!-- <div class="col" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <div class="iconBox">
            <div class="iconRound">
              <h4>6</h4>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Digital Transformation/Industrial Revolution 4.0 (IR4.0)</h5>
            <p class="card-text">Transform your business process</p>
          </div>
        </div>
      </div> -->
      <div class="col" data-aos="fade-up" data-aos-delay="300">
        <div class="card h-100">
          <div class="iconBox">
            <div class="iconRound">
              <h4>6</h4>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Information Security Management</h5>
            <p class="card-text">Information Security Management</p>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="300">
        <div class="card h-100">
          <div class="iconBox">
            <div class="iconRound">
              <h4>7</h4>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Cost Reduction & Process Improvement</h5>
            <p class="card-text">Make your organization more effective</p>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="300">
        <div class="card h-100">
          <div class="iconBox">
            <div class="iconRound">
              <h4>8</h4>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Robot and Drone</h5>
            <p class="card-text">Metaphorical software robots or on artificial intelligence /digital workers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="training" id="training">
  <div class="container">
    <div class="row">
      <div class="bg-pri col-md-4 d-flex align-items-center" data-aos="fade-right"
        data-aos-anchor-placement="center-bottom">
        <h1 class="p-5">
          Trainings
        </h1>
      </div>
      <div class="offset-md-1 pt-5 pb-5 col-md-7" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
        <ul>
          <li>
            <div class="box">
              <h4 class="m-0">01</h4>
            </div>
            <h5>IR4.0 Opportunities and challenges</h5>
          </li>
          <li>
            <div class="box">
              <h4 class="m-0">02</h4>
            </div>
            <h5>Digital Transformation Training</h5>
          </li>
          <li>
            <div class="box">
              <h4 class="m-0">03</h4>
            </div>
            <h5>IOT & Robotic System</h5>
          </li>
          <li>
            <div class="box">
              <h4 class="m-0">04</h4>
            </div>
            <h5>Program Logic Controller</h5>
          </li>
          <li>
            <div class="box">
              <h4 class="m-0">05</h4>
            </div>
            <h5>Arduino/ Raspberry PI</h5>
          </li>
          <li>
            <div class="box">
              <h4 class="m-0">06</h4>
            </div>
            <h5>3D Design and Printer</h5>
          </li>
          <li>
            <div class="box">
              <h4 class="m-0">07</h4>
            </div>
            <h5>AI & Python</h5>
          </li>
          <li>
            <div class="box">
              <h4 class="m-0">08</h4>
            </div>
            <h5>Java Development</h5>
          </li>
          <li>
            <div class="box">
              <h4 class="m-0">09</h4>
            </div>
            <h5>Lean Six Sigma</h5>
          </li>
          <li>
            <div class="box">
              <h4 class="m-0">10</h4>
            </div>
            <h5>Marketing, Leadership etc</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="recruit" class="recruit">
  <div class="container">
    <h3 class="secTitle text-center mb-3">
      Talents Recruitment and Placement
    </h3>
    <p class="text-center mb-5">Our focus areas but not limited to these areas</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100">
          <div class="card-body">
            <div class="iconbox">
              <div class="iconwrapper">
                <i class="fa-solid fa-laptop-code"></i>
              </div>
            </div>
            <h5 class="card-title">Education</h5>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100">
          <div class="card-body">
            <div class="iconbox">
              <div class="iconwrapper">
                <i class="fa-brands fa-slideshare"></i>
              </div>
            </div>
            <h5 class="card-title">Shared Services</h5>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100">
          <div class="card-body">
            <div class="iconbox">
              <div class="iconwrapper">
                <i class="fa-solid fa-microchip"></i>
              </div>
            </div>
            <h5 class="card-title">Information Technology</h5>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <div class="card-body">
            <div class="iconbox">
              <div class="iconwrapper">
                <i class="fa-solid fa-house-medical"></i>
              </div>
            </div>
            <h5 class="card-title">Health Care</h5>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <div class="card-body">
            <div class="iconbox">
              <div class="iconwrapper">
                <i class="fa-solid fa-industry"></i>
              </div>
            </div>
            <h5 class="card-title">Manufacturing</h5>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <div class="card-body">
            <div class="iconbox">
              <div class="iconwrapper">
                <i class="fa-solid fa-coins"></i>
              </div>
            </div>
            <h5 class="card-title">Banking, Finance & Tax</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="products" class="products">
  <div class="container">
    <h3 class="secTitle text-center pb-5">Our Products</h3>
    <div class="row row-cols-1 row-cols-md-2 g-sm-0 g-1" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="col">
        <div class="card h-100">
          <div class="card-body p-4">
            <div class="iconbox pb-3">
              <div class="iconwrapper">
                <i class="fa-solid fa-chalkboard-user"></i>
              </div>
            </div>
            <h4 class="card-title pb-3">Education Management System</h4>
            <p>
              Education Management System offers efficient features to manage your entity’s end to end challenges and
              needs. This app has modules like Attendance and Leave, announcement/notification, time table, Fee
              Definition and Online Payment modules. The teachers and parents have access to this system to be
              benefited. It supports all Web, iOS and Android platforms.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../assets/images/bg29.webp" class="h-100 w-100 imgProp" alt="">
        </div>
      </div>
      <div class="col order-sm-4 order-md-3">
        <div class="card h-100">
          <img src="../assets/images/bg30.webp" class="h-100 w-100 imgProp" alt="">
        </div>
      </div>
      <div class="col order-sm-3 order-md-4">
        <div class="card h-100">
          <div class="card-body p-4">
            <div class="iconbox pb-3">
              <div class="iconwrapper">
                <i class="fa-solid fa-users-gear"></i>
              </div>
            </div>
            <h4 class="card-title pb-3">HR Management system</h4>
            <p>
              HR Management System designed specifically to manage organization challenges and demand in day to day
              operations. Employee information management and Recruitment management, this mobile and web application
              have following modules: - Attendance and leave application with GPS & photo, Claim & Payroll module, offer
              letter issuance & on boarding process.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="research" class="research">
  <div class="container">
    <h3 class="secTitle text-center pb-5">Research & Development</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
      <div class="col" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100">
          <img src="../assets/images/bg41.webp" class="imgProp card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Swarm robotics communication through secure blockchain platform</h5>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100">
          <img src="../assets/images/bg42.webp" class="imgProp card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title"> Automated palm Fruit ripeness detection for drone/ automatic guided vehicle
              application </h5>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <img src="../assets/images/bg43.webp" class="imgProp card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Document classifier</h5>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <img src="../assets/images/bg40.webp" class="imgProp card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">Artificial Intelligence based Recruitment system</h5>
          </div>
        </div>
      </div>
      <div class="col" data-aos="fade-up" data-aos-delay="200">
        <div class="card h-100">
          <img src="../assets/images/bg36.webp" class="imgProp card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title">AI based maintenance management system using IOT platform</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="distributor py-5">
  <div class="container">
    <h3 class="secTitle text-center pb-5">
      Product Distributor
    </h3>
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center p-5">
        <a href="https://www.innoduel.com/"><img src="../assets/images/innoduel-orange.svg" class="h-100" width="200px"
            alt=""></a>

      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact d-flex align-items-center">
  <div class="container">
    <h3 class="secTitle text-center text-light pb-5">
      Contact Us
    </h3>
    <div class="row g-5 d-flex align-items-center">
      <div class="col-md-5 text-light" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
        <h1 class="text-light position-relative pb-3 mb-5">Get in Touch !</h1>
        <form class="row g-3">
          <div class="col-12 mb-2">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="col-12 mb-2">
            <label for="inputPassword2" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputPassword2" placeholder="Password">
          </div>
          <div class="col-12">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" placeholder="some text" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="col-12 mt-5">
            <button type="submit" class="btn bg-pri text-light mb-3">Submit</button>
          </div>
        </form>
      </div>
      <div class="col" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
        <div class="row row-cols-1 row-cols-md-1">
          <div class="col">
            <div class="card py-4 h-100">
              <div class="iconbox">
                <div class="iconwrapper">
                  <i class="fa-solid fa-location-arrow"></i>
                </div>
              </div>
              <div class="card-body pt-4 calign">
                <p>
                  No 9, Jalan PJS 8/9.<br /> Bandar Sunway 46150 Petaling Jaya,<br /> Selangor, Malaysia.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card py-4 h-100">
              <div class="iconbox">
                <div class="iconwrapper">
                  <i class="fa-solid fa-phone"></i>
                </div>
              </div>
              <div class="card-body pt-4 calign">
                <p>
                  <a href="tel:+60 17-950 0361">+60 17-950 0361</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card py-4 h-100">
              <div class="iconbox">
                <div class="iconwrapper">
                  <i class="fa-solid fa-at"></i>
                </div>
              </div>
              <div class="card-body pt-4 calign">
                <p>
                  <a href="mailto:info@pgintsys.com">info@pgintsys.com</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row g-4 p-3">
      <div class="col-md-4">
        <h4>About Us</h4>
        <p>
          PG INTSYS is a digital transformation solutions, recruitment and training providing company.
        </p>
        <div class="mt-5 iconLine d-flex align-items-center">
          <p><a href=""><i class="fa-brands fa-facebook-f"></i></a></p>
          <p><a href=""><i class="fa-brands fa-twitter"></i></a></p>
          <p><a href=""><i class="fa-brands fa-linkedin-in"></i></a></p>
          <p><a href=""><i class="fa-brands fa-instagram"></i></a></p>
        </div>
      </div>
      <div class="col-md-4">
        <h4>
          Contact Info
        </h4>
        <p>
          No 9, Jalan PJS 8/9.<br /> Bandar Sunway 46150 Petaling Jaya,<br /> Selangor, Malaysia.
        </p>
        <p>
          <a href="tel:+60 17-950 0361">+60 17-950 0361</a>
        </p>
        <p><a href="mailto:info@pgintsys.com">info@pgintsys.com</a></p>
      </div>
      <div class="col-md-4">
        <h4>
          Quick Links
        </h4>
        <ul>
          <li><a (click)="scrollToTarget('.landingPage')">Home</a></li>
          <li><a (click)="scrollToTarget('.aboutus')">About</a></li>
          <li><a (click)="scrollToTarget('.services')">Services</a></li>
          <li><a (click)="scrollToTarget('.training')">Training</a></li>
          <li><a (click)="scrollToTarget('.recruit')">Recruitment</a></li>
          <li><a (click)="scrollToTarget('.products')">Products</a></li>
          <li><a (click)="scrollToTarget('.contact')">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<a class="back-to-top cursorp" (click)="scrollToTop()" [ngClass]="{'show-scrollTop': windowScrolled}">
  <i class="fa-solid fa-angle-up"></i>
</a>