.navbar {
    background-color: transparent !important;
    overflow: hidden;
    transition: 0.5s all ease-in;
}

.navbar li a {
    color: #fff;
    font-weight: 600;
}
.navbar-brand {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: rgb(255, 255, 255, 0.95);
    border-radius: 6px;
}
.nav-link {
    transition: 0.3s all ease-in;
}

.navbar-toggler {
    color: #3330E4;
    font-size: 27px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-shrink {
    background-color: #f8f9fa !important;

    .nav-link {
        color: #3330E4 !important;
    }

    .nav-link:hover {
        color: #111111 !important;
    }
}

.cursorp {
    cursor: pointer;
}

@media (max-width: 767px) {
    .navbar {
        background-color: #f8f9fa !important;
    }

    .navbar li a {
        color: #111111 !important;
    }
}


// ********** intro ****************
#intro {
    width: 100%;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
    z-index: 999;
    
}


#intro .title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
}

#intro .caption {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#intro .carousel,
#intro .carousel-inner,
#intro .carousel-item,
#intro .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#intro .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#intro .carousel-item::before {
    content: "";
    background-color: rgba(9, 98, 234, 0.6);

}

#intro .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 50px;
    right: 50px;
}

#intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

@media (max-width: 768px) {
    #intro h2 {
        font-size: 28px;
    }
}

#intro p {
    color: #c0c0c0;
    font-size: 16px;
}

@media (min-width: 1024px) {
    #intro p {
        width: 60%;
    }
}

#intro .carousel-fade {
    overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

.carousel-caption {
    // padding-bottom: 230px;
    bottom: 35%;
    text-align: left;
}

@media (max-width: 500px) {

    .carousel-caption {
        bottom: 30%;
    }

    #intro .title {
        font-size: 43px;
    }
}

#intro .intro-img {
    background-size: cover;
    object-fit: cover;
}

.carousel-indicators [data-bs-target] {
    height: 12px !important;
    width: 12px !important;
    border-radius: 50%;
    position: relative;
    outline: none !important;
    display: inline-block;
    background: none;
    border: 1px solid #fff;
}

.dot {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50% !important;
    left: 50%;
    top: 50%;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#about {
    padding: 4rem 0;
}


#about .iconWrapper i {
    color: #3330E4;
    font-size: 2.5rem;
}

#about .card {
    border: 0;
}

p {
    color: #6c757d;
    text-align: justify;
}

.gray-100 {
    color: #6c757d;
}

#aboutus {
    padding: 5rem 0;
    background-color: #f8f9fa;
}

#aboutus .aboutTitle {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 900;
}

#aboutus h5 {
    font-weight: 700;
}

#aboutus img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#vision {
    padding: 4rem 0;
    position: relative;
}

#vision img {
    max-height: 600px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#services {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    overflow: hidden;
}

#services .card {
    border: 0;
    display: table;
}

#services .card-body {
    display: table-cell;
    vertical-align: top;
    padding-top: .5rem;
}

#services .iconBox {
    display: table-cell;
    vertical-align: top;
    border-collapse: separate;
    border-spacing: 0 1rem;
    padding-right: 1rem;
}

#services .iconRound h4 {
    margin: 0;
    color: #fff;
}

#services .iconRound {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3330E4;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

#training {
    background-color: #eeeeee;
}

#training h1 {
    color: #fff;
}

#training ul {
    list-style: none;

}

#training .box {
    display: table-cell;
    width: 50px;
    height: 50px;
    background-color: #3330E4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 12px;
    border: 3px solid #fff;
    vertical-align: top;
}

#training ul li {

    display: table;
    padding: 1rem .5rem 1rem 1rem;
    // margin: 2.5rem 0;
    font-weight: 500;
    letter-spacing: .3px;
}

#training ul li h5 {
    display: table-cell;
    margin: 0;
    padding-left: 1rem;
}

#recruit {
    padding: 5rem 0;
}

#recruit .iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}

#recruit .iconwrapper {
    background: #3330E4;
    border-radius: 50%;
    width: 55px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#recruit i {
    font-size: 20px;
    color: #fff;
}

#recruit .card {
    text-align: center;
    border: 0;
    border-radius: 12px;
    background-color: rgba(51, 48, 228, 0.05);
    transition: all 0.3s ease-in;
}

#recruit .card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#products {
    position: relative;
    padding: 4rem 0;
    background-color: #eeeeee;
}

#products .row {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#products .iconwrapper {
    background: #3330E4;
    border-radius: 50%;
    width: 55px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#products i {
    font-size: 20px;
    color: #fff;
}

#products h4 {
    font-weight: 700;
    line-height: 1.2;
}

#products .card {
    border: 0;
}

#products .card img {
    max-height: 350px;
    object-fit: cover;
}

#research {
    padding: 4rem 0;
}

#research .card {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.3s all ease-in;
}

#research .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#research .card:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#research img {
    border-radius: 12px 12px 0 0;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
}

.distributor img {
    filter: grayscale(100%);
    transition: all 0.1s ease-in;
}

@media (max-width: 767px) {
    .distributor img {
        filter: grayscale(0%);
    }
}

.distributor img:hover {
    filter: grayscale(0%);
}

#contact {
    padding: 4rem 0;
    background: url(../assets/images/bg17.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#contact::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.06);

}

#contact h1::before {
    content: '';
    position: absolute;
    width: 4rem;
    height: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

#contact .card {
    border: 0;
    text-align: center;
    border-radius: 0;
}

#contact .iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .iconwrapper {
    background: #3330E4;
    border-radius: 50%;
    width: 55px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#contact i {
    font-size: 20px;
    color: #fff;
}

#contact p {
    font-weight: 600;
    color: #111111;
}

footer {
    padding: 4rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    cursor: pointer;
    margin: 1rem 0;
    color: #6c757d;
    font-weight: 500;
    transition: 0.3s all ease-in;
}

footer ul li:hover {
    color: #000;
}

footer .iconLine p {
    padding: 0 .7rem;
    color: #3330E4;
}

footer .iconLine p i {
    transition: 0.3s all ease-in;
    font-size: 22px;
    font-weight: 700;
}

footer .iconLine p i:hover {
    color: #111111;
}

footer h4 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.back-to-top {
    position: fixed;
    display: table;
    background: #3330E4;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: all 0.5s ease;
    z-index: 11;
    opacity: 0;
}

.back-to-top i {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.show-scrollTop {
    opacity: 1 !important;
    transition: all 0.8s ease;
}

section {
    overflow: hidden;
}